<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">

        .numbers{
            display:block;
            margin-botto:20px;
        }

        .numbers li {
            display: inline-block;
            padding: 5px;
            margin: 2px;
            width: 120px;
            background-color: aliceblue;
            line-height: 40px;
            text-align: center;
        }

        blockquote h4{
            margin-top:15px;
            font-style:Italic;
            font-weight:bold;
        }

        .val{
            color:dodgerblue;
        }

    </style>
</head>
<body>

<div class="container">
    <h1 class="omework">Домашнее задание BSA 2016 #1 </h1>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">Readme:</a></li>
        <li><a data-toggle="tab" href="#menu1">Рандомная цитата</a></li>
        <li><a data-toggle="tab" href="#menu2">Треугольные числа</a></li>
        <li><a data-toggle="tab" href="#menu3">Герои компании Marvell</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Readme: </h3>
            <p>Раз уж по заданию мы все равно используем <code>Composer</code>, то я решил заодно добавить
                и <code>Twig</code> для удобной обработки вывода.
            </p>
            <p>В задании я использую просстранства имен по <code>PSR-4</code></p>
            <p>Есть 4 основных просстранства имен:</p>
            <ol>
                <li><code>App</code> - класс самого приложения с единственным методом <code>run()</code></li>
                <li><code>Greeting</code> - класс приветствия.</li>
                <li><code>Marvel</code> - это уже просстранства имен для супер героев.
                    Содержит вложенные просстранства имен для героев с учетом города. <br>
                    <code>Marvel\Azgard\Thor()</code>
                </li>
                <li>
                    <code>Utils</code> - трейты и классы-хелперы для работы. Содержит хелпер-класс
                    <code>TriangleNumbers</code> в котором есть 2 метода:
                    <ul>
                        <li>
                            <code>getNumbers()</code> генератор треугольных чисел по заданному диапозону
                        </li>
                        <li>
                            <code>getResult()</code> формирующий массив с результатом. Использует
                            <code>getNumbers()</code> как генератор для цикла.
                        </li>
                    </ul>

                    и 2 трейта для работы с героями и цитатами.
                    <ul>
                        <li><code>Utils\Traits\Marvel\InfoTrait</code></li>
                        <li><code>Utils\Traits\RandomQuote\RandomQuote</code></li>
                    </ul>
                </li>
            </ol>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h2>{{quote.greeting}}</h2>
            <blockquote>
                <p>{{quote.body.text}}</p>
                <h4>{{quote.body.author}}</h4>
            </blockquote>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Треугольные числа</h3>

            <p>
                Треугольные числа генерятся классом <code>\Utils\Helpers\TriangleNumbers</code>
            </p>
            <p>
                Класс  <code>\Utils\Helpers\TriangleNumbers</code> состоит всего из 2 методов:
            <ul>
                <li><code>TriangleNumbers->getNumbers()</code> который по сути всего лиь генератор</li>
                <li><code>TriangleNumbers->getResult()</code> который используя генраторный метод формирует массив результатов.</li>
            </ul>

            </p>

            <h4>stdout:</h4>
            <ul class="numbers">
                {% for n in numbers %}
                    <li><b>[{{ loop.index}}] </b> => {{ n}}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Герои компании Marvell</h3>
            <p>
                Все герои живут мирно по своим неймэйам.Нэйсмпэйс врхнего уровня <span class="val">Marvel</span>
                Пример создания героя: <code>$ironChel = new Marvel\NY\IronMan();</code>
            </p>
            <p>Все герои наследуются от класса <code>Marvel\SuperHuman</code></p>
            <p>
                В свою очередь класс <code>SuperHuman</code> содержит трейт <code> \Utils\Traits\Marvel\InfoTrait</code> который отвечает
                за привествие  героя.
            </p>
            <p>
                Честно говоря, я не особо понял, зачем функция <code>whoami()</code> должна вызываться статически...
                Это порождает много лишней статики...Ну да ладно. <br>
                Пример сообщения с приветствием от героя: <code>$theMessage = Marvel\Ontario\Batman::whoami();</code>
            </p>
        </div>
    </div>
</div>

</body>
</html>
